<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>5280 Landmarks</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css" title="text/css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <section class="main-layout">
      <header>
        <h2>5280 Landmarks</h2>
        <ul class='text'>
          <li>Login</li>
        </ul>
      </header>
      <nav>
        <ul class='text'>
          <li>Building</li>
          <li>Art</li>
          <li>Featured</li>
        </ul>
      </nav>
      <section class='text'>
        <h2>Denver Art Museum</h2>

        <p>Mea adhuc persecuti in, dolorum mentitum ullamcorper his ut. Graeci scriptorem cum ea, an ignota signiferumque nec. No dicunt sanctus moderatius sed, meliore inermis ei mea. Utinam impedit maiestatis sea ad, quis efficiendi eu mel, ea solet placerat phaedrum vis. Et vix causae aliquam, commodo blandit imperdiet ex his.</p>
        <br />
        <p>Lorem ipsum dolor sit amet, quis idque munere est ex. Eos id soluta meliore menandri, sed ex graeci prompta sapientem. Cum in verterem partiendo, quod partiendo principes vix et. Ne eam virtute abhorreant. At qui doming nemore mediocritatem, ei pri bonorum blandit, vim elitr recusabo salutatus eu.</p>
        <br />
        <p>Duo an eleifend omittantur, te sint civibus recusabo eos. An ius corpora definiebas cotidieque. Eu pri reque sapientem contentiones, fierent conclusionemque mei in. Saepe veniam ne mei, ut facilisi omittantur nec.</p>
        <br />
        <p>Nam ad quas consul salutandi, sea ad verterem quaestio. Mei ea quot dictas. Eam choro eloquentiam eu, vim cu facete scriptorem. Mel at latine veritus.</p>
      </section>
      <section>
        <article class='three-col'>
          <h2>Larimer Square</h2>
          <img src='../../images/2.jpg' alt='Overlook of Larimer Square' />
        </article>

        <article class='three-col'>
          <h2>Millenium Bridge</h2>
          <img src='../../images/5.jpg' alt='Overlook of Millenium Bridge' />
        </article>

        <article class='three-col'>
          <h2>Molly Brown House</h2>
          <img src='../../images/6.jpg' alt="Street view of Molly Brown's House" />
        </article>
      </section>
      <footer class='text'>
        Alia utinam maiorum pro te, eum ex sonet putent discere. Mea cu possit forensibus comprehensam. Mel te primis commodo, nibh labore nostrum ei mel. Ex vix adolescens suscipiantur, malorum iuvaret usu id. At mea lobortis pertinacia, scripta sententiae et mei, sumo partem pro ex. Nam movet facete ex, eos rebum nulla qualisque ea, vis malis clita efficiantur ut. At vel lorem paulo soluta, ancillae quaestio no quo, id vim blandit voluptatum.
      </footer>
    </section>
  </body>
</html>
